<div class="text-center">
    <h1>M{{'modify_profile' | translate}}</h1>
</div>
<div class="text-center">
	<form>
		<div>
			<label abm-label type="floating">{{'surname' | translate}}</label>
        	<input ng-model="parent.surname" abm-form-control value="{{parent.surname}}">
        	<br>
        	<label abm-label type="floating">{{'name' | translate}}</label>
        	<input ng-model="parent.name" abm-form-control>
        	<br>
        	<label abm-label type="floating">{{'document' | translate}}</label>
        	<input ng-model="parent.document" type="number" abm-form-control>
        	<br>
            <label abm-label type="floating">{{'age' | translate}}</label>
            <input ng-model="parent.age" type="number" abm-form-control>
            <br>
            <label abm-label type="floating">{{'address' | translate}}</label>
            <input ng-model="parent.address" abm-form-control>
            <br>
            <label abm-label type="floating">{{'email' | translate}}</label>
            <input ng-model="parent.email" abm-form-control>
            <br>
            <label abm-label type="floating">{{'telephone' | translate}}</label>
            <input ng-model="parent.telephone" type="number" abm-form-control>
            <br>
            <label abm-label type="floating">{{'celphone' | translate}}</label>
            <input ng-model="parent.celphone" type="number" abm-form-control>
            <br>
    	</div>
   </form>
   <div>
     <button style="color: white" ng-click="acceptModify()" class="btn waves-effect waves-light" type="submit" name="action">{{'save' | translate}}<i class="material-icons right">send</i>
   </div>
</div>