<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>SURNAME</th>
	    <th>NAME</th>
	    <th>DOCUMENT</th>
	    <th>AGE</th>
	    <th>ADDRESS</th>
	    <th>EMAIL</th>
	    <th>TELEPHONE</th>
	    <th>CELPHONE</th>
	    <th>PREGNANCY MEDICINE</th>
	  </tr>
	  <tr>
	    <th>{{child.surname}}</th>
	    <th>{{child.name}}</th>
	    <th>{{child.document}}</th>
	    <th>{{child.age}}</th>
	    <th>{{child.address}}</th>
	    <th>{{child.email}}</th>
	    <th>{{child.telephone}}</th>
	    <th>{{child.celphone}}</th>
	    <th>{{child.pregnancyMedicine}}</th>
	  </tr>
	</table>
	<br>
	
	<div>
		<button style="color: white" ng-click="modifyProfile()" class="btn waves-effect waves-light" type="submit" name="action">MODIFY<i class="material-icons right">send</i>

		<button style="color: white" ng-click="deleteChild()" class="btn waves-effect waves-light" type="submit" name="action">Delete<i class="material-icons right">send</i>
	</div>
</div>