<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>SURNAME</th>
	    <th>NAME</th>
	    <th>DOCUMENT</th>
	    <th>AGE</th>
	    <th>ADDRESS</th>
	    <th>EMAIL</th>
	    <th>TELEPHONE</th>
	    <th>CELPHONE</th>
	    <th>LICENSE</th>
	  </tr>
	  <tr>
	    <th>{{driver.surname}}</th>
	    <th>{{driver.name}}</th>
	    <th>{{driver.document}}</th>
	    <th>{{driver.age}}</th>
	    <th>{{driver.address}}</th>
	    <th>{{driver.email}}</th>
	    <th>{{driver.telephone}}</th>
	    <th>{{driver.celphone}}</th>
	    <th>{{driver.license}}</th>
	  </tr>
	</table>
	<br>
	
	<div>
		<button style="color: white" ng-click="modifyDriver()" class="btn waves-effect waves-light" type="submit" name="action">MODIFY<i class="material-icons right">send</i>

		<button style="color: white" ng-click="deleteDriver()" class="btn waves-effect waves-light" type="submit" name="action">Delete<i class="material-icons right">send</i>
	</div>
</div>