<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>SURNAME</th>
	    <th>NAME</th>
	  </tr>
	  <tr ng-repeat="child in childsOfTravel">
	    <th>{{child.surname}}</th>
	    <th>{{child.name}}</th>
	    <!-- <th>
        		<input type="checkbox" id="chk{{child.id}}" ng-model="child.checked" ng-change="selectTag(child.id)"/>
        		<label for="chk{{child.id}}"></label>
      </th> -->
	  </tr>
	</table>
	<div>
		<div style="color:black" id="mapa" class="mapaStyle"></div>
	</div>
</div>