<div>
	<h1>Registered Drivers</h1>
  	<br>
<div>
	<input type="text" class="search-query form-control" ng-model="driverSearch" placeholder="'SEARCH DRIVER" />
</div>

<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>SURNAME</th>
	    <th>NAME</th>
	    <th>DOCUMENT</th>
	    <th>AGE</th>
	    <th>ADDRESS</th>
	    <th>EMAIL</th>
	    <th>TELEPHONE</th>
	    <th>CELPHONE</th>
	    <th>LICENSE</th>
	  </tr>
	  <tr ng-repeat="driver in drivers">
	    <th>{{driver.surname}}</th>
	    <th>{{driver.name}}</th>
	    <th>{{driver.document}}</th>
	    <th>{{driver.age}}</th>
	    <th>{{driver.address}}</th>
	    <th>{{driver.email}}</th>
	    <th>{{driver.telephone}}</th>
	    <th>{{driver.celphone}}</th>
	    <th>{{driver.license}}</th>
	    <th><button style="color: white" ng-click="details(driver.id)" class="btn waves-effect waves-light" type="submit" name="action">DETAILS<i class="material-icons right">send</i></th>
	  </tr>
	</table>
</div>
</div>
