<div class="jumbotron">
  <h1>Bienvenidos a Magic Bus!!!</h1>
  <!--  <md-datepicker ng-model="dateFrom" md-placeholder="From" md-open-on-focus></md-datepicker> -->
  <br>
  <a ng-href="/#/map"><button type="button" class="btn btn-success btn-raised btn-block">{{'see_map' | translate}}<span class="glyphicon glyphicon-globe"></button> </a>
  <br>
  <br>
  <a ng-href="/#/client"><button type="button" class="btn btn-success btn-raised btn-block">{{'create_client' | translate}} <span class="glyphicon glyphicon-plus"></button> </a>
  <br>
</div>