<div class="text-center">
    <h1>Modify Travel</h1>
</div>
<div class="text-center">
	<form>
		<div>
			<label abm-label type="floating">DESTINATION</label>
        	<input ng-model="travel.destination" abm-form-control>
        	<br>
            <label abm-label type="floating">ADDRESS</label>
            <input ng-model="travel.address" abm-form-control>
            <br>
        	<label abm-label type="date">DATE</label>
        	<input type="date" ng-model="travel.date" step="1" min="2016-11-15" max="2020-12-31" value="2016-11-15">
        	<br>
        	<label abm-label type="floating">SCHEDULE</label>
        	<input type="time" id="exampleInput" name="input" ng-model="travel.scheduler" placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required />
        	<br>
            <select style="color:white;background-color: black;border: white" class="form-control" ng-model="travel.driver">
                <option ng-repeat="driver in drivers" value="{{driver.id}}">{{driver.surname}}, {{driver.name}}</option>
            </select>
        	<br>
    	</div>
   </form>
   <div>
     <button style="color: white" ng-click="acceptModifyTravel()" class="btn waves-effect waves-light" type="submit" name="action">SAVE<i class="material-icons right">send</i>
   </div>
</div>