<div class="text-center">
    <h1>Create a New Child</h1>
</div>
<div class="text-center">
	<form>
		<div>
			<label abm-label type="floating">SURNAME</label>
        	<input ng-model="child.surname" abm-form-control>
        	<br>
        	<label abm-label type="floating">NAME</label>
        	<input ng-model="child.name" abm-form-control>
        	<br>
        	<label abm-label type="floating">DOCUMENT</label>
        	<input ng-model="child.document" type="number" abm-form-control>
        	<br>
            <label abm-label type="floating">AGE</label>
            <input ng-model="child.age" type="number" abm-form-control>
            <br>
            <label abm-label type="floating">ADDRESS</label>
            <input type="text" id="txtPlaces" ng-model="child.address" placeholder="Enter address and city" />
            <br>
            <label abm-label type="floating">EMAIL</label>
            <input ng-model="child.email" abm-form-control>
            <br>
            <label abm-label type="floating">TELEPHONE</label>
            <input ng-model="child.telephone" type="number" abm-form-control>
            <br>
            <label abm-label type="floating">CELPHONE</label>
            <input ng-model="child.celphone" type="number" abm-form-control>
            <br>
            <label abm-label type="floating">PREGNANCE MEDICINE</label>
            <input ng-model="child.pregnancyMedicine" abm-form-control>
        	<br>
    	</div>
   </form>
   <div>
     <button style="color: white" ng-click="createNewChild()" class="btn waves-effect waves-light" type="submit" name="action">CREATE<i class="material-icons right">send</i>
   </div>
</div>