<div class="text-center">
    <h1>Create a new Tour </h1>
</div>
<div class="text-center">
	<form>
		<div>
			<label abm-label type="floating">Lugar</label>
        	<input ng-model="viaje.lugar" abm-form-control>
        	<br>
        	<label abm-label type="floating">Dia</label>
        	<input ng-model="viaje.dia" abm-form-control>
        	<br>
        	<label abm-label type="floating">Horario</label>
        	<input ng-model="viaje.horario" type="number" abm-form-control>
        	<br>
            <label abm-label type="floating">Conductor</label>
            <input ng-model="viaje.conductor" type="number" abm-form-control>
            <br>
        	<!-- <md-datepicker ng-model="conductor.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker> -->
        	<br>
    	</div>
   </form>
   <div>
     <button ng-click="createViaje()" class="btn waves-effect waves-light" type="submit" name="action">Create<i class="material-icons right">send</i>
   </div>
</div>