<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>DESTINATION</th>
	    <th>DATE</th>
	    <th>SCHEDULER</th>
	    <th>DRIVER</th>
	  </tr>
	  <tr ng-repeat="travel in pendingTravels">
	    <th>{{travel.destination}}</th>
	    <th>{{travel.date.dayOfMonth}}/{{travel.date.monthOfYear}}/{{travel.date.year}}</th>
	    <th>{{travel.scheduler.hourOfDay}}:{{travel.scheduler.minuteOfHour}}</th>
	    <th>{{travel.driver.surname}}, {{travel.driver.name}}</th>
	  </tr>
	</table>
</div>