<div>
  
  <h1>{{'my_profile' | translate}}</h1>
  
  <table>
	  <tr>
	    <td>{{'surname' | translate}}</td>
	    <td>{{parent.surname}}</td>
	  </tr>
	  <tr>
	    <td>{{'name' | translate}}</td>
	    <td>{{parent.name}}</td>
	  </tr>
	  <tr>
	    <td>{{'document' | translate}}</td>
	    <td>{{parent.document}}</td>
	  </tr>
	  <tr>
	    <td>{{'email' | translate}}</td>
	    <td>{{parent.email}}@gmail.com</td>
	  </tr>
	  <tr>
	    <td>{{'age' | translate}}</td>
	    <td>{{parent.age}}</td>
	  </tr>
	  <tr>
	    <td>{{'address' | translate}}</td>
	    <td>{{parent.address}}</td>
	  </tr>
	  <tr>
	    <td>{{'telephone' | translate}}</td>
	    <td>{{parent.telephone}}</td>
	  </tr>
	  <tr>
	    <td>{{'celphone' | translate}}</td>
	    <td>{{parent.celphone}}</td>
	  </tr>
	</table>

	<div>
     <button style="color: white" ng-click="modifyProfile()" class="btn waves-effect waves-light" type="submit" name="action">{{'modify' | translate}}<i class="material-icons right">send</i>
   </div>

</div>