<div>
  
  <h1>MY PROFILE</h1>
  
  <table>
	  <tr>
	    <td>SURNAME</td>
	    <td>{{parent.surname}}</td>
	  </tr>
	  <tr>
	    <td>NAME</td>
	    <td>{{parent.name}}</td>
	  </tr>
	  <tr>
	    <td>DOCUMENT</td>
	    <td>{{parent.document}}</td>
	  </tr>
	  <tr>
	    <td>EMAIL</td>
	    <td>{{parent.email}}@gmail.com</td>
	  </tr>
	  <tr>
	    <td>AGE</td>
	    <td>{{parent.age}}</td>
	  </tr>
	  <tr>
	    <td>ADDRESS</td>
	    <td>{{parent.address}}</td>
	  </tr>
	  <tr>
	    <td>TELEPHONE</td>
	    <td>{{parent.telephone}}</td>
	  </tr>
	  <tr>
	    <td>CELPHONE</td>
	    <td>{{parent.celphone}}</td>
	  </tr>
	</table>

	<div>
     <button ng-click="modifyProfile()" class="btn waves-effect waves-light" type="submit" name="action">MODIFY<i class="material-icons right">send</i>
   </div>

</div>