<div>
  
  <h1>Welcome to Magic Bus App</APPLET>!!!</h1>
  
  <table>
	  <tr>
	    <td>SURNAME</td>
	    <td>{{user.surname}}</td>
	  </tr>
	  <tr>
	    <td>NAME</td>
	    <td>{{user.name}}</td>
	  </tr>
	  <tr>
	    <td>DOCUMENT</td>
	    <td>{{user.document}}</td>
	  </tr>
	  <tr>
	    <td>AGE</td>
	    <td>{{user.age}}</td>
	  </tr>
	  <tr>
	    <td>ADDRESS</td>
	    <td>{{user.address}}</td>
	  </tr>
	  <tr>
	    <td>TELEPHONE</td>
	    <td>{{user.telephone}}</td>
	  </tr>
	  <tr>
	    <td>CELPHONE</td>
	    <td>{{user.celphone}}</td>
	  </tr>
	</table>

	<div>
     <button ng-click="modifyProfile()" class="btn waves-effect waves-light" type="submit" name="action">MODIFY<i class="material-icons right">send</i>
   </div>

</div>