<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>SURNAME</th>
	    <th>NAME</th>
	    <th>MODIFY</th>
	    <th>DELETE</th>
	  </tr>
	  <tr ng-repeat="child in registeredChilds">
	    <th>{{child.surname}}</th>
	    <th>{{child.name}}</th>
	    <th>
	    	<button style="color: white" ng-click="modifyChild(child.id)" class="btn waves-effect waves-light" type="submit" name="action">MODIFY<i class="material-icons right">send</i>
	    </th>
		<th>
			<button style="color: white" ng-click="deleteChild(child.id)" class="btn waves-effect waves-light" type="submit" name="action">Delete<i class="material-icons right">send</i>
		</th>
	</table>
</div>