<div class="table-responsive">         
  <table class="table">
	  <tr>
	    <th>SURNAME</th>
	    <th>NAME</th>
	    <th>DOCUMENT</th>
	    <th>AGE</th>
	    <th>ADDRESS</th>
	    <th>EMAIL</th>
	    <th>PHONE</th>
	    <th>CEL</th>
	  </tr>
	  <tr ng-repeat="parent in registeredParents">
	    <th>{{parent.surname}}</th>
	    <th>{{parent.name}}</th>
	    <th>{{parent.document}}</th>
	    <th>{{parent.age}}</th>
	    <th>{{parent.address}}</th>
	    <th>{{parent.email}}</th>
	    <th>{{parent.phone}}</th>
	    <th>{{parent.cel}}</th>
	  </tr>
	</table>
</div>