<div>
	<h1>Viajes Pendientes (DEL PADRE)</h1>

    <br>

    <label style="color:white" abm-label type="date">CHILD</label>
    <select style="color:white;background-color: black;border: white" class="form-control" ng-model="childIDSelected" ng-change="getPendingTravelsForAChild()">
        <!--option value="0" disabled selected>Choose a Child</option-->
        <option ng-repeat="child in registeredChilds" value="{{child.id}}">{{child.surname}}, {{child.name}}</option>
    </select>

    <br>

    <div class="table-responsive">         
      <table class="table">
         <tr>
            <th>DESTINATION</th>
            <th>DATE</th>
            <th>SCHEDULER</th>
            <th>DRIVER</th>
          </tr>
          <tr ng-repeat="travel in pendingTravels">
            <th>{{travel.destination}}</th>
            <th>{{travel.date.dayOfMonth}}/{{travel.date.monthOfYear}}/{{travel.date.year}}</th>
            <th>{{travel.scheduler.hourOfDay}}:{{travel.scheduler.minuteOfHour}}</th>
            <th>{{travel.driver.surname}}, {{travel.driver.name}}</th>
          </tr>
      </table>
    </div>
</div>