<div>
	<div class="text-center">
	<h1 style="color: #FF3232">{{'registered_drivers' | translate}}</h1>
	</div>
	<div class="divider"></div>
	<div class="divider"></div>
	<input ng-model="inputfilter" type="text" placeholder="Search for names.."></input>
	<table class="table-responsive" id="myTable">
	  	<tr>
		    <td ng-click="sortTable(0)" style="color: #009688"><b>{{'driver' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(2)" style="color: #009688"><b>{{'document' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(3)" style="color: #009688"><b>{{'age' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(4)" style="color: #009688"><b>{{'address' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(5)" style="color: #009688"><b>{{'email' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(6)" style="color: #009688"><b>{{'telephone' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(7)" style="color: #009688"><b>{{'celphone' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td ng-click="sortTable(8)" style="color: #009688"><b>{{'license' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
		    <td></td>
		    <td></td>
	  	</tr>
		</tr>
		<tr ng-repeat="driver in drivers | toArray | filter:inputfilter">
		    <td>{{driver.surname}} {{driver.name}}</td>
		    <td>{{driver.document}}</td>
		    <td>{{driver.age}}</td>
		    <td>{{driver.address}}</td>
		    <td>{{driver.email}}</td>
		    <td>{{driver.telephone}}</td>
		    <td>{{driver.celphone}}</td>
		    <td>{{driver.license}}</td>
		    <td>
		    	<button style="color: white" ng-click="modifyDriver(driver.id)" class="btn waves-effect waves-light" type="submit" name="action"><i style="color: green;" class="material-icons left">create</i>
		    </td>
		    <td>
		    	<button style="color: white" ng-click="deleteDriver(driver.id)" class="btn waves-effect waves-light" type="submit" name="action"><i style="color: red;" class="material-icons left">delete</i>
		    </td>
		</tr>
	</table>
</div>