<div class="text-center">
	<h1 style="color: #FF3232">{{'historic_travels' | translate}}</h1>
</div>
<div class="divider"></div>
<div class="divider"></div>
<input ng-model="inputfilter" type="text" placeholder="Search for names.."></input>
<table class="table-responsive" id="myTable">
  <tr>
    <td ng-click="sortTable(0)" style="color: #009688"><b>{{'destination' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
    <td ng-click="sortTable(1)" style="color: #009688"><b>{{'address' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
    <td ng-click="sortTable(2)" style="color: #009688"><b>{{'date' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
    <td ng-click="sortTable(3)" style="color: #009688"><b>{{'scheduler' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
    <td ng-click="sortTable(4)" style="color: #009688"><b>{{'driver' | translate}}<i class="material-icons right">arrow_drop_down</i></b></td>
    <td></td>
  </tr>
  <tr ng-repeat="travel in historicTravels | toArray | filter:inputfilter">
    <td>{{travel.destination}}</td>
    <td>{{travel.address}}</td>
    <td>{{travel.dateFormat}}</td>
    <td>{{travel.timeFormat}}</td>
    <td>{{travel.driver.surname}} {{travel.driver.name}}</td>
    <td>
    	<button style="color: white" ng-click="details(travel.id)" class="btn waves-effect waves-light" type="submit" name="action"><i style="color: yellow;" class="material-icons left">find_in_page</i>
    </td>
  </tr>
</table>