<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<!-- =========================== -->
	<!-- =========JAXB / CXF ========= -->
	<!-- =========================== -->

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />

	<bean id='jacksonProvider' class='com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider' />
	<!--<bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider' 
		/> -->


	<!-- =========================== -->
	<!-- =========Servicios ========= -->
	<!-- =========================== -->

	<jaxrs:server id="event">
		<jaxrs:serviceBeans>
			<ref bean="driverRest" />
			<ref bean="travelRest" />
			<ref bean="parentRest" />
			<ref bean="childRest" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jaxbProvider" />
			<ref bean="jacksonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<cxf:logging />
		</jaxrs:features>
	</jaxrs:server>
	
	<bean id="driverRest" class="domain.servicesRest.DriverRest">
		<constructor-arg>
			<ref bean="services.driver" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.travel" />
		</constructor-arg>
	</bean>
	
	<bean id="travelRest" class="domain.servicesRest.TravelRest">
		<constructor-arg>
			<ref bean="services.travel" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.driver" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.child" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.parent" />
		</constructor-arg>
	</bean>
	
	<bean id="parentRest" class="domain.servicesRest.ParentRest">
		<constructor-arg>
			<ref bean="services.parent" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.child" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.admin" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.travel" />
		</constructor-arg>
	</bean>
	
	<bean id="childRest" class="domain.servicesRest.ChildRest">
		<constructor-arg>
			<ref bean="services.child" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="services.travel" />
		</constructor-arg>
	</bean>
	
	<bean id="setup.exampleData" class="domain.servicesRest.SetupExampleData" init-method="init">
		<property name="driverService" ref="services.driver" />
		<property name="travelService" ref="services.travel"/>
		<property name="parentService" ref="services.parent" />
		<property name="childService" ref="services.child" />
		<property name="adminService" ref="services.admin" />
	</bean>

</beans>
