<!doctype html>
<html ng-app="magicBus">

<head>
	<meta charset="utf-8">
	<title>Magic Bus</title>
  <link href='./images/Icono-MagicBus.ico' rel='icon' type='image/x-icon'/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFR3fk9zc77EFzy-sTfrjkIWVtG85M0JY"></script>
	

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
 	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
 	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" /> -->
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
  <link rel="stylesheet" href="bower_components/angular-flash-alert/dist/angular-flash.css" />
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
  <link rel="stylesheet" href="js/bootstrap-material-design-4.0.0/css/bootstrap-material-design.css">
  <link rel="stylesheet" href="js/bootstrap-material-design-4.0.0/js/bootstrap-material-design.js">
  <link rel="stylesheet" href="styles/map.css">
</head>

<body ng-controller="LoginCtrl">

	<!-- Add your site or application content here -->
  <div class="header">
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul id="slide-out" class="side-nav" >
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header waves-effect waves-teal">Viajes<i class="mdi-navigation-arrow-drop-down"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#/newTravel">Nuevo</a></li>
                      <li><a href="#/pendingTravels">Pendientes</a></li>
                      <li><a href="#/historicTravels">Historial</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
          </li>
          <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header waves-effect waves-teal">Mensajes<i class="mdi-navigation-arrow-drop-down"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#!">Nuevo</a></li>
                      <li><a href="#!">Entrada</a></li>
                      <li><a href="#!">Salida</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
          </li>
          <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header waves-effect waves-teal">Conductores<i class="mdi-hardware-keyboard-arrow-down"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="/#/newDriver">Nuevo</a></li>
                      <li><a href="/#/drivers">Registrados</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
          </li>
          <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header waves-effect waves-teal">Padres<i class="mdi-navigation-arrow-drop-down"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="/pendingParents">Pendientes</a></li>
                      <li><a href="#/registeredParents">Registrados</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
          </li>
          <li><a href="#!">Facturacion &amp; Estadisticas</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse" ng-show="signedIn.value"><i class="material-icons">menu</i></a>
          <ul  ng-show="signedIn.value">
            <li><a ng-href="#/">Home</a></li>
            <li><a href="#/login" class="waves-effect waves-light" ng-click="logout()">Log Out</a></li>
          </ul>
      </div>
  </div>
  <!-- <div class="header">
  <nav ng-show="signedIn.value">
  <ul class="hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav fixed">
      <li class="bold"><a href="#!" class="waves-effect waves-teal">First Sidebar Link</a></li>
      <li class="bold"><a href="#!" class="">Second Sidebar Link</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
</div> -->
  
  <div class="container view-panel" ng-if="signedIn.value"></div>
    <div ng-controller="LanguageCtrl" class="fixed-action-btn horizontal txt-shadow ">
      <a class="btn-floating btn-large red opacity-80">
      <i class="material-icons">language</i>
      </a>
      <ul class="txt-shadow opacity-80">
        <li><a ng-click="changeLanguage('es')" class="btn-floating yellow darken-1"><span
        style="margin-right:10px">ES</span></a></li>
        <li><a ng-click="changeLanguage('en')" class="btn-floating orange darken-1"><span
        style="margin-right:10px">EN</span></a></li>
      </ul>
    </div>
	<div class="container">
    	<div ng-view></div>
  </div>


	
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
    	!function (A, n, g, u, l, a, r) {
      	A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      	}, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    	}(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-XXXXX-X');
    	ga('send', 'pageview');
  	</script>
	
	  <script src="bower_components/jquery/dist/jquery.js"></script>
  	<script src="bower_components/angular/angular.js"></script>
  	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  	<script src="bower_components/angular-animate/angular-animate.js"></script>
  	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
  	<script src="bower_components/angular-resource/angular-resource.js"></script>
  	<script src="bower_components/angular-route/angular-route.js"></script>
  	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  	<script src="bower_components/angular-touch/angular-touch.js"></script>
  	<script src="bower_components/angularjs-social-login/angularjs-social-login.js"></script>
  	<script src="bower_components/angular-aria/angular-aria.js"></script>
  	<script src="bower_components/angular-messages/angular-messages.js"></script>
  	<script src="bower_components/angular-material/angular-material.js"></script>
  	<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  	<script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
  	<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
  	<script src="bower_components/angular-bootstrap-material/angular-bootstrap-material.js"></script>
  	<script src="bower_components/moment/moment.js"></script>
  	<script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
     <script src="bower_components/angular-translate/angular-translate.js"></script>

	
  <!--scripts/scripts.js -->

  <script src="scripts/app.js"></script>
  <script src="scripts/services/apiService.js"></script>

  <script src="scripts/translates/translate_en.js"></script>
  <script src="scripts/translates/translate_es.js"></script>
  <script src="scripts/controllers/language.js"></script>

  <script src="scripts/controllers/login.js"></script>

  <script src="scripts/controllers/newDriver.js"></script>
  <script src="scripts/services/newDriverService.js"></script>

  <script src="scripts/controllers/newTravel.js"></script>
  <script src="scripts/services/newTravelService.js"></script>

  <script src="scripts/controllers/drivers.js"></script>

  <script src="scripts/controllers/pendingTravels.js"></script>

  <script src="scripts/controllers/historicTravels.js"></script>

  <script src="scripts/controllers/registeredParents.js"></script>

  <script src="scripts/controllers/pendingParents.js"></script>

	<script src="scripts/controllers/map.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/services/userService.js"></script>

</body>

</html>