<!doctype html>
<html ng-app="magicBus">

<head>
  <meta charset="utf-8">
  <title>Magic Bus</title>
  <link href='./images/Icono-MagicBus.ico' rel='icon' type='image/x-icon'/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
  <link rel="stylesheet" href="bower_components/angular-flash-alert/dist/angular-flash.css" />
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
  <link rel="stylesheet" href="js/bootstrap-material-design-4.0.0/css/bootstrap-material-design.css">
  <link rel="stylesheet" href="js/bootstrap-material-design-4.0.0/js/bootstrap-material-design.js">
  <link rel="stylesheet" href="styles/map.css">
  <link rel="stylesheet" href="styles/language.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {font-family: "Roboto", sans-serif}
    .w3-bar-block .w3-bar-item{padding:16px;font-weight:bold}
    .mine{padding:0px;border:0px}
    .submenu{padding-left: 25px}
  </style>
</head>

<body ng-controller="LoginCtrl" style="background-image:url(images/fondo-madera-negro.jpg)">

  <nav ng-show="signedIn.value" class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;color: white;background-image:url(images/fondo-madera-negro.jpg)" id="myMENU">

  <a class="minew3-large" href="#"><img src="images/Icono-MagicBus.ico" alt="icon" style=" margin-bottom:15px; width:80%; background-image:url(images/fondo-madera-negro.jpg)"></a>
  
  <div>

    <a class="w3-bar-item w3-button" href="#/profile">My Profile</a>

    <a class="w3-bar-item w3-button" onclick="myAccordion('viajes')" href="javascript:void(0)">Viajes<i class="fa fa-caret-down"></i></a>
    
    <div id="viajes" style="padding-left: 25px" class="submenu w3-hide">
      <a class="w3-bar-item w3-button" href="#/newTravel">Nuevo</a>
      <a class="w3-bar-item w3-button" href="#/pendingTravels">Pendientes</a>
      <a class="w3-bar-item w3-button" href="#/historicTravels">Historial</a>
    </div>

    <div>
    <a class="w3-bar-item w3-button" onclick="myAccordion('mensajes')" href="javascript:void(0)">Mensajes<i class="fa fa-caret-down"></i></a>
    <div id="mensajes" class="submenu w3-hide">
      <a class="w3-bar-item w3-button" href="#">Nuevo</a>
      <a class="w3-bar-item w3-button" href="#">Recibidos</a>
      <a class="w3-bar-item w3-button" href="#">Enviados</a>
    </div>

  <div>
    <a class="w3-bar-item w3-button" onclick="myAccordion('conductores')" href="javascript:void(0)">Conductores<i class="fa fa-caret-down"></i></a>
    <div id="conductores" class="submenu w3-hide">
      <a class="w3-bar-item w3-button" href="/#/newDriver">Nuevo</a>
      <a class="w3-bar-item w3-button" href="/#/drivers">Registrados</a>
      <a class="w3-bar-item w3-button" href="/#/travelToday">Viajes para Hoy</a>
    </div>

    <div>
    <a class="w3-bar-item w3-button" onclick="myAccordion('padres')" href="javascript:void(0)">Padres<i class="fa fa-caret-down"></i></a>
    <div id="padres" class="submenu w3-hide">
      <a class="w3-bar-item w3-button" href="#/pendingParents">Pendientes</a>
      <a class="w3-bar-item w3-button" href="#/registeredParents">Registrados</a>
    </div>

    <div>
    <a class="w3-bar-item w3-button" onclick="myAccordion('hijos')" href="javascript:void(0)">Hijos<i class="fa fa-caret-down"></i></a>
    <div id="hijos" class="submenu w3-hide">
      <a class="w3-bar-item w3-button" href="#/newChild">Nuevo</a>
      <a class="w3-bar-item w3-button" href="#/registeredChilds">Registrados</a>
    </div>

    <a class="w3-bar-item w3-button" href="#/newTravelForChild">Nuevos Viajes Para Chicos</a>

    <a class="w3-bar-item w3-button" href="#/travelsForChild">Viajes Pendientes Para Chicos</a>
  </div>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay1"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-container w3-top w3-theme w3-large">
  <p><i class="fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge" ng-show="signedIn.value" onclick="w3_open()"></i>
  <span id="myIntro" class="w3-hide">MAGIC BUS APP</span></p>
</div>

<header class="w3-container w3-theme" style="padding:64px 32px" >
  <h1 class="w3-xxxlarge">MAGIC BUS APP</h1>
  <a ng-href="#/login" ng-show="signedIn.value">Log Out</a>
</header>
  
  <div class="container view-panel" ng-if="signedIn.value"></div>
    <div ng-controller="LanguageCtrl" class="fixed-action-btn horizontal txt-shadow ">
      <a class="btn-floating btn-large red opacity-80">
      <i class="material-icons">language</i>
      </a>
      <ul class="txt-shadow opacity-80">
        <li><a ng-click="changeLanguage('es')" class="btn-floating yellow darken-1"><span
        style="margin-right:10px">ES</span></a></li>
        <li><a ng-click="changeLanguage('en')" class="btn-floating orange darken-1"><span
        style="margin-right:10px">EN</span></a></li>
      </ul>
    </div>

  <div style="color: white;background-image:url(images/fondo.jpg)" class="container">
      <div ng-view></div>
  </div>

<footer class="w3-container w3-theme" style="padding:32px">
  <p>Magic Bus is an application made under the authority of Francioni-Mancuso Company</p>
</footer>
  
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
      !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
      }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
  </script>
	
  <script>
    // Open and close the sidebar on medium and small screens
    function w3_open() {
      document.getElementById("myMENU").style.display = "block";
      document.getElementById("myOverlay1").style.display = "block";
    }
    function w3_close() {
      document.getElementById("myMENU").style.display = "none";
      document.getElementById("myOverlay1").style.display = "none";
    }

    // Change style of top container on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
        document.getElementById("myIntro").classList.add("w3-show-inline-block");
      } 
      else {
        document.getElementById("myIntro").classList.remove("w3-show-inline-block");
        document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
      }
    }

    // Accordions
    function myAccordion(id) {
      var elem = document.getElementById(id);
      if (elem.className.indexOf("w3-show") == -1) {
        elem.className += " w3-show";
        elem.previousElementSibling.className += " w3-theme";
      } 
      else { 
        elem.className = elem.className.replace("w3-show", "");
        elem.previousElementSibling.className = 
        elem.previousElementSibling.className.replace(" w3-theme", "");
      }
    }

  </script>
  
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angularjs-social-login/angularjs-social-login.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
  <script src="bower_components/angular-bootstrap-material/angular-bootstrap-material.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-flash-alert/dist/angular-flash.js"></script>
  <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>

  <!--scripts/scripts.js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFR3fk9zc77EFzy-sTfrjkIWVtG85M0JY&libraries=places"
  type="text/javascript"></script>

  <script src="scripts/app.js"></script>

  <script src="scripts/translates/translate_en.js"></script>
  <script src="scripts/translates/translate_es.js"></script>
  <script src="scripts/controllers/language.js"></script>

  <script src="scripts/controllers/login.js"></script>

  <script src="scripts/controllers/newDriver.js"></script>

  <script src="scripts/controllers/newChild.js"></script>

  <script src="scripts/controllers/newTravel.js"></script>

  <script src="scripts/controllers/drivers.js"></script>

  <script src="scripts/controllers/pendingTravels.js"></script>

  <script src="scripts/controllers/historicTravels.js"></script>

  <script src="scripts/controllers/registeredParents.js"></script>

  <script src="scripts/controllers/registeredChilds.js"></script>

  <script src="scripts/controllers/pendingParents.js"></script>

  <script src="scripts/controllers/modifyProfileOfChild.js"></script>

  <script src="scripts/controllers/newTravelForChild.js"></script>
  <script src="scripts/controllers/travelsForChild.js"></script>

  <script src="scripts/controllers/detailsOfChild.js"></script>

  <script src="scripts/controllers/detailsOfTravel.js"></script>

  <script src="scripts/controllers/detailsOfDriver.js"></script>

  <script src="scripts/controllers/detailsOfTravelToday.js"></script>

  <script src="scripts/controllers/travelToday.js"></script>

  <script src="scripts/controllers/profile.js"></script>

  <script src="scripts/controllers/modifyTravel.js"></script>
  
  <!-- Services -->
  <script src="scripts/services/childService.js"></script>
  <script src="scripts/services/driverService.js"></script>
  <script src="scripts/services/travelService.js"></script>
  <script src="scripts/services/parentService.js"></script>
  <script src="scripts/services/userService.js"></script>
  <script src="scripts/services/validator.js"></script>

</body>
</html>

<!--AIzaSyAFR3fk9zc77EFzy-sTfrjkIWVtG85M0JY-->